nav {
  background-color: #333;
  padding: 1rem;
}

nav ul {

    list-style-type: none;
  
    padding: 0;
  
    margin: 0;
  
    display: flex;
  
    justify-content: space-around;
  
 }

 nav a {

   color: white;
  
      text-decoration: none;
  
     font-size: 1rem;
  
  }

  nav a:hover {

         color: #ddd;
      
      }
      
     
      a:active {
      
        color: #aaa;
      
      }
      
      
      
      nav a {
      
        transition: color 0.3s ease;
    }

    #home{
      display: inline-flex;
    }

    #gallery{
      display: inline-flex;
    }

    #fooditems{
      display: inline-flex;
    }

    .container{
      background-color:#0087969a;
      height: 500px;
      width: 700px;
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 30px;
      border-radius: 10px;
  }

  .header{
    text-align: center;
    margin-top: 50px;
    color:#222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;    
  }

  p{
    margin-left: 70px;
    color:#222222;
    font-weight:lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container2{
      background-image: url(./Images/pexels-thisisengineering-3913025.jpg);
      margin-left: 1150px;
      height: 500px;
      width: 500px;
      margin-top: 20px;
      margin-left: 1px;
      margin-right: 5px;
      border-radius: 10px;
  }

  .image1{
     background-image: url(./Images/pexels-eberhard-grossgasteiger-1366909.jpg);
      height: 500px;
      width: 400px;
      margin-top: 50px;
      margin-left: 30px;
      margin-right: 30px;
      border-radius: 10px;
  }

  .image2{
      background-image: url(./Images/pexels-irina-iriser-1381679.jpg);
      height: 500px;
      width: 400px;
      margin-top: 50px;
      margin-left: 30px;
      margin-right: 30px;
      border-radius: 10px;
  }

  .image3{
      background-image: url(./Images/pexels-mirsad-mujanovic-691031.jpg);
      height: 500px;
      width: 350px;
      margin-top: 50px;
      margin-left: 30px;
      margin-right: 30px;
      border-radius: 10px;
  }

.food1{
      background-color: yellow;
      height: 200px;
      width: 350px;
      margin-top: 50px;
      margin-left: 30px;
      margin-right: 30px;
      border-radius: 10px;

}

.food2{
  background-color:#222222;
  height: 200px;
  width: 350px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;

}

.food3{
  background-color:chocolate;
  height: 200px;
  width: 350px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;

}

  

 